@charset "UTF-8";

@font-face {
  font-family: "AlegreyaSC";
  font-display: swap;
  src: url("../fonts/AlegreyaSC-Bold.woff") format("woff"), url("../fonts/AlegreyaSC-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  font-display: swap;
  src: url("../fonts/Gotham-Medium.woff") format("woff"), url("../fonts/Gotham-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Alice";
  font-display: swap;
  src: url("../fonts/Alice-Regular.woff") format("woff"), url("../fonts/Alice-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  font-display: swap;
  src: url("../fonts/Gotham-Book.woff") format("woff"), url("../fonts/Gotham-Book.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  font-display: swap;
  src: url("../fonts/Gotham-Bold.woff") format("woff"), url("../fonts/Gotham-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-arrow-form:before {
  content: "\e900";
}

._icon-arrow-left:before {
  content: "\e901";
}

._icon-arrow-right:before {
  content: "\e902";
}

._icon-arrows:before {
  content: "\e903";
}

._icon-clock:before {
  content: "\e904";
}

._icon-hryvnia:before {
  content: "\e905";
}

._icon-instagram:before {
  content: "\e906";
}

._icon-telegram:before {
  content: "\e907";
}

._icon-viber:before {
  content: "\e908";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Gotham";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Gotham";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #272727;
  font-size: 20px;
  background-color: #f8f6eb;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1090px;
  margin: 0 auto;
  padding: 0 10px;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0px 34px;
  height: 61px;
  font-family: "Gotham";
  font-weight: 500;
  font-size: 15px;
  line-height: 120%;
  color: #f8f6eb;
  border: 2px solid transparent;
  -webkit-transition: border 0.3s ease 0s;
  -o-transition: border 0.3s ease 0s;
  transition: border 0.3s ease 0s;
  background: url("../img/bg-button.svg") center/cover no-repeat;
}

.btn_big {
  font-size: 20px;
  padding: 0px 80px;
  height: 99px;
}

.btn._fw {
  width: 100%;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  font-size: 20px;
  color: rgba(39, 39, 39, 0.3);
  border-bottom: 2px solid rgba(39, 39, 39, 0.15);
  background-color: #f8f6eb;
  cursor: pointer;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  color: rgba(39, 39, 39, 0.3);
  height: 50px;
  padding: 5px 7px 5px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 15px;
  height: 7.5px;
  background: url("../img/icons/select.svg") center/100% no-repeat;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  display: none;
  position: absolute;
  top: 49px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #f8f6eb;
  border-top: 0;
  border-bottom: 2px solid rgba(39, 39, 39, 0.15);
  font-size: 20px;
  color: rgba(39, 39, 39, 0.3);
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 7px 5px 0px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 7px 0px 0px;
  border-bottom: 2px solid rgba(39, 39, 39, 0.15);
  font-size: 20px;
  color: rgba(39, 39, 39, 0.3);
  height: 50px;
  background-color: #f8f6eb;
}

.input._error {
  border-bottom: 2px solid red;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating-block {
  display: table;
  font-size: 0;
}

.rating {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.rating.edit .star {
  cursor: pointer;
}

.rating .star {
  width: 17px;
  height: 14px;
  display: inline-block;
  position: relative;
  z-index: 3;
}

.rating__line {
  position: absolute;
  width: 85px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating.svg") 0 0 no-repeat;
  z-index: 1;
  background-size: 85px 100%;
}

.rating__activeline {
  position: absolute;
  width: 0px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating_active.svg") 0 0 no-repeat;
  z-index: 2;
  background-size: 85px 100%;
}

.rating__value {
  display: inline-block;
  color: #1b3139;
  font-size: 14px;
  line-height: 13px;
  vertical-align: middle;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.decor::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 172px;
  top: -172px;
  right: 20%;
  background: url("../img/decor1.svg") 0 0/cover no-repeat;
}

.decor::after {
  content: "";
  position: absolute;
  width: 250px;
  height: 172px;
  top: 10%;
  right: -250px;
  background: url("../img/decor2.svg") 0 0/cover no-repeat;
}

.title {
  font-family: "AlegreyaSC";
  font-weight: 700;
  font-size: 54px;
  line-height: 111.11111%;
  margin: 0px auto 0.74074em auto;
  text-align: center;
  color: #50603f;
}

.text {
  font-size: 20px;
  line-height: 177%;
  color: #272727;
}

.text p {
  margin: 0px 0px 2em 0px;
}

.text p:last-child {
  margin: 0px 0px 0px 0px;
}

.text span {
  font-weight: 700;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

._video video,
._video iframe,
._video object,
._video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

._more-content {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

._more-link {
  cursor: pointer;
}

._more-link span {
  font-style: normal;
}

._more-link span:first-child {
  display: block;
}

._more-link span:last-child {
  display: none;
}

._more-link._active span {
  font-style: normal;
}

._more-link._active span:first-child {
  display: none;
}

._more-link._active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.qs-datepicker-container {
  margin: 5px;
  font-size: 1rem;
  font-family: sans-serif;
  color: #000;
  position: absolute;
  width: 15.625em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 9001;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  background: #f8f6eb;
  -webkit-box-shadow: 0 1.25em 1.25em -0.9375em rgba(0, 0, 0, 0.3);
  box-shadow: 0 1.25em 1.25em -0.9375em rgba(0, 0, 0, 0.3);
  border-right: 1px solid #fff;
  border-left: 1px solid #f1ad70;
  padding: 5px;
}

.qs-datepicker-container:before,
.qs-datepicker-container:after {
  content: "";
  width: 100%;
  height: 2px;
  left: 0;
  z-index: 2;
  position: absolute;
  background-image: -webkit-gradient(linear, left top, right top, from(#f1ad70), to(#fffdf2));
  background-image: -o-linear-gradient(left, #f1ad70 0%, #fffdf2 100%);
  background-image: linear-gradient(to right, #f1ad70 0%, #fffdf2 100%);
}

.qs-datepicker-container:before {
  top: 0;
}

.qs-datepicker-container:after {
  bottom: 0;
}

.qs-datepicker-container * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.qs-datepicker-container.qs-centered {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.qs-datepicker-container.qs-hidden {
  display: none;
}

.qs-datepicker .qs-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  width: 100%;
  height: 100%;
  padding: 0.5em;
  z-index: 1;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.qs-datepicker .qs-overlay.qs-hidden {
  opacity: 0;
  z-index: -1;
}

.qs-datepicker .qs-overlay .qs-overlay-year {
  background: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid #fff;
  border-radius: 0;
  color: #fff;
  font-size: 0.875em;
  padding: 0.25em 0;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.qs-datepicker .qs-overlay .qs-overlay-year::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.qs-datepicker .qs-overlay .qs-close {
  padding: 0.5em;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.qs-datepicker .qs-overlay .qs-submit {
  border: 1px solid #fff;
  border-radius: 0.26392em;
  padding: 0.5em;
  margin: 0 auto auto;
  cursor: pointer;
  background: rgba(128, 128, 128, 0.4);
}

.qs-datepicker .qs-overlay .qs-submit.qs-disabled {
  color: grey;
  border-color: grey;
  cursor: not-allowed;
}

.qs-datepicker .qs-overlay .qs-overlay-month-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.qs-datepicker .qs-overlay .qs-overlay-month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 33.33333%;
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: opacity 0.15s;
  -o-transition: opacity 0.15s;
  transition: opacity 0.15s;
}

.qs-datepicker .qs-overlay .qs-overlay-month.active,
.qs-datepicker .qs-overlay .qs-overlay-month:hover {
  opacity: 1;
}

.qs-datepicker .qs-controls {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background: #a4593c;
  color: #f8f6eb;
  -webkit-filter: blur(0);
  filter: blur(0);
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  -o-transition: filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}

.qs-datepicker .qs-controls.qs-blur {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.qs-datepicker .qs-arrow {
  height: 1.5625em;
  width: 1.5625em;
  position: relative;
  cursor: pointer;
  border-radius: 0.26392em;
  -webkit-transition: background 0.15s;
  -o-transition: background 0.15s;
  transition: background 0.15s;
}

.qs-datepicker .qs-arrow:hover {
  background: rgba(0, 0, 0, 0.1);
}

.qs-datepicker .qs-arrow:hover.qs-left:after {
  border-right-color: #000;
}

.qs-datepicker .qs-arrow:hover.qs-right:after {
  border-left-color: #000;
}

.qs-datepicker .qs-arrow:after {
  content: "";
  border: 0.39062em solid rgba(0, 0, 0, 0);
  position: absolute;
  top: 50%;
  -webkit-transition: border 0.2s;
  -o-transition: border 0.2s;
  transition: border 0.2s;
}

.qs-datepicker .qs-arrow.qs-left:after {
  border-right-color: grey;
  right: 50%;
  -webkit-transform: translate(25%, -50%);
  -ms-transform: translate(25%, -50%);
  transform: translate(25%, -50%);
}

.qs-datepicker .qs-arrow.qs-right:after {
  border-left-color: grey;
  left: 50%;
  -webkit-transform: translate(-25%, -50%);
  -ms-transform: translate(-25%, -50%);
  transform: translate(-25%, -50%);
}

.qs-datepicker .qs-month-year {
  font-weight: 700;
  -webkit-transition: border 0.2s;
  -o-transition: border 0.2s;
  transition: border 0.2s;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  cursor: pointer;
}

.qs-datepicker .qs-month-year:hover {
  border-bottom: 1px solid grey;
}

.qs-datepicker .qs-month-year:active:focus,
.qs-datepicker .qs-month-year:focus {
  outline: none;
}

.qs-datepicker .qs-month {
  padding-right: 0.5ex;
}

.qs-datepicker .qs-year {
  padding-left: 0.5ex;
}

.qs-datepicker .qs-squares {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #272727;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0.3125em;
  -webkit-filter: blur(0);
  filter: blur(0);
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  -o-transition: filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}

.qs-datepicker .qs-squares.qs-blur {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.qs-datepicker .qs-square {
  width: 14.28571%;
  height: 1.5625em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  -webkit-transition: background 0.1s;
  -o-transition: background 0.1s;
  transition: background 0.1s;
  border-radius: 0.26392em;
}

.qs-datepicker .qs-square.qs-current {
  font-weight: 700;
}

.qs-datepicker .qs-square.qs-current span {
  text-decoration: underline;
}

.qs-datepicker .qs-square.qs-active {
  background: #fff;
  color: #000;
}

.qs-datepicker .qs-square.qs-range-date-start:not(.qs-range-date-6) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.qs-datepicker .qs-square.qs-range-date-middle {
  background: #d4ebf2;
}

.qs-datepicker .qs-square.qs-range-date-middle:not(.qs-range-date-0):not(.qs-range-date-6) {
  border-radius: 0;
}

.qs-datepicker .qs-square.qs-range-date-middle.qs-range-date-0 {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.qs-datepicker .qs-square.qs-range-date-end:not(.qs-range-date-0),
.qs-datepicker .qs-square.qs-range-date-middle.qs-range-date-6 {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.qs-datepicker .qs-square.qs-disabled span {
  opacity: 0.2;
}

.qs-datepicker .qs-square.qs-empty {
  cursor: default;
}

.qs-datepicker .qs-square.qs-disabled {
  cursor: not-allowed;
}

.qs-datepicker .qs-square.qs-day {
  cursor: default;
  font-weight: 700;
  color: grey;
}

.qs-datepicker .qs-square:not(.qs-empty):not(.qs-disabled):not(.qs-day):not(.qs-active):hover {
  background: #a4593c;
}

.qs-datepicker .qs-event {
  position: relative;
}

.qs-datepicker .qs-event:after {
  content: "";
  position: absolute;
  width: 0.46875em;
  height: 0.46875em;
  border-radius: 50%;
  background: #07f;
  bottom: 0;
  right: 0;
}

.qs-datepicker .qs-event.qs-disabled:after,
.qs-datepicker .qs-event.qs-empty:after {
  background: #cce4ff;
}

.popup {
  -webkit-overflow-scrolling: touch;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  padding: 30px 10px;
  width: 100%;
  height: 100%;
  visibility: hidden;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
}

.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  visibility: visible;
  overflow: auto;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__body {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
  padding: 50px;
  width: 100%;
  max-width: 800px;
}

.popup__close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  z-index: 30;
  background: url("../img/icons/close.svg") center no-repeat;
}

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #fff;
  min-height: 90px;
  padding: 15px 0px;
  z-index: 3;
}

.header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 2;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  font-family: "Alice";
  font-size: 30px;
  letter-spacing: 0.05em;
  color: #677a61;
  text-transform: uppercase;
  margin: 0px 60px 0px 0px;
}

.header__logo span {
  display: block;
  font-size: 15px;
  letter-spacing: 0.05em;
  text-align: center;
  margin: 2px 0px 0px 0px;
  text-transform: none;
}

.header__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 3;
}

.logo {
  position: relative;
  z-index: 3;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 3;
}

.menu__list li {
  margin: 0px 75px 0px 0px;
}

.menu__list li:last-child {
  margin: 0px 10px 0px 0px;
}

.menu__link {
  font-family: "Alice";
  font-size: 20px;
  color: #252525;
  position: relative;
  padding: 0px 0px 4px 0px;
}

.menu__link::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: rgba(37, 37, 37, 0.5);
  display: block;
  -webkit-transition: left 0.3s ease 0s, width 0.3s ease 0s;
  -o-transition: left 0.3s ease 0s, width 0.3s ease 0s;
  transition: left 0.3s ease 0s, width 0.3s ease 0s;
}

.menu__link._active::before {
  left: 0;
  width: 100%;
}

.icon-menu {
  display: none;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__item {
  margin: 0px 30px 0px 0px;
  position: relative;
}

.social__item::after {
  content: "";
  position: absolute;
  height: 11px;
  width: 1px;
  right: -14.5px;
  top: 50%;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
  background-color: rgba(39, 39, 39, 0.3);
}

.social__item:last-child::after {
  display: none;
}

.social__item._icon-instagram::before,
.social__item._icon-telegram::before,
.social__item._icon-viber::before {
  font-size: 24px;
  color: rgba(39, 39, 39, 0.3);
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

/*
//Burger
.icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
*/

.footer__copy {
  padding: 20px 0px;
  font-family: "Alice";
  font-size: 20px;
  line-height: 115%;
  color: #272727;
  text-align: center;
}

.footer__copy span {
  text-transform: uppercase;
}

.top-footer {
  padding: 45px 0px 30px 0px;
}

.top-footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px 0px 0px 0px;
}

.top-footer__social .social__item {
  margin: 0px 15px;
}

.menu-footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-footer__list li {
  margin: 0px 75px 0px 0px;
}

.menu-footer__list li:last-child {
  margin: 0px 0px 0px 0px;
}

.menu-footer__logo {
  text-align: center;
  margin: 0px 75px;
  font-family: "Alice";
  font-size: 50px;
  letter-spacing: 0.05em;
  color: #677a61;
  position: relative;
  z-index: 2;
}

.menu-footer__link {
  font-family: "Alice";
  font-size: 20px;
  line-height: 115%;
  color: #272727;
  padding: 0px 0px 4px 0px;
  position: relative;
}

.menu-footer__link::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: rgba(37, 37, 37, 0.5);
  display: block;
  -webkit-transition: left 0.3s ease 0s, width 0.3s ease 0s;
  -o-transition: left 0.3s ease 0s, width 0.3s ease 0s;
  transition: left 0.3s ease 0s, width 0.3s ease 0s;
}

.menu-footer__link._active::before {
  left: 0;
  width: 100%;
}

.container-fluid {
  max-width: 1700px;
  margin: 0 auto;
  padding: 0 10px;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 95px 0px 0px 0px;
}

.home {
  background: url("../img/bg-1.svg") 1.5% 16%/230px 268px no-repeat, url("../img/bg-2.svg") 100% 0/430px 400px no-repeat, url("../img/bg-3.svg") 0 100%/505px 576px no-repeat, url("../img/bg-4.svg") 100% 70%/330px 310px no-repeat;
}

.home__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 30px 340px 30px;
}

.home__title {
  font-family: "Alice";
  font-size: 120px;
  line-height: 114.16667%;
  color: #677a61;
  text-shadow: 0px 4px 10px rgba(103, 122, 97, 0.47);
  padding-top: 110px;
  padding-bottom: 53px;
  padding-left: 60px;
  padding-right: 60px;
  border: 15px solid #677a61;
  position: relative;
  margin-top: 270px;
  margin-bottom: 36px;
  background-color: #f8f6eb;
}

.home__title::before {
  content: "";
  position: absolute;
  left: -40px;
  top: -35px;
  width: 20%;
  height: 32.6%;
  border-top: 20px solid #677a61;
  border-left: 20px solid #677a61;
  background-color: #f8f6eb;
  text-transform: uppercase;
}

.home__title::after {
  content: "";
  position: absolute;
  width: 20%;
  height: 32.6%;
  border-right: 20px solid #f8f6eb;
  border-bottom: 20px solid #f8f6eb;
  left: -40px;
  top: -35px;
}

.home__title span {
  display: block;
  margin: 10px 0px 0px 0px;
  font-size: 50px;
  line-height: 114%;
  color: #a5593c;
  text-transform: uppercase;
}

.home__btn {
  margin: 0px 0px 22px 0px;
}

.home__link {
  position: relative;
  -webkit-animation: animlink 1.3s linear infinite;
          animation: animlink 1.3s linear infinite;
}

.home__link._icon-arrows::before {
  color: #e8985d;
  font-size: 34px;
}

@-webkit-keyframes animlink {
  0% {
    -webkit-transform: translate(0px, -2.5px);
            transform: translate(0px, -2.5px);
  }

  50% {
    -webkit-transform: translate(0px, -5px);
            transform: translate(0px, -5px);
  }

  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@keyframes animlink {
  0% {
    -webkit-transform: translate(0px, -2.5px);
            transform: translate(0px, -2.5px);
  }

  50% {
    -webkit-transform: translate(0px, -5px);
            transform: translate(0px, -5px);
  }

  100% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

.about {
  margin-bottom: 60px;
}

.about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 60px;
}

.about__images {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  text-align: center;
  position: relative;
  padding: 0px 0px 40% 0px;
}

.about__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.about__img img {
  -o-object-position: top;
     object-position: top;
}

.about__content {
  padding: 0px 30px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  text-align: center;
}

.about__text {
  font-size: 20px;
  line-height: 177%;
}

.about__text span {
  font-weight: bold;
  margin: 0px 0px 1.5em 0px;
  display: block;
  text-align: center;
}

.skills {
  margin-bottom: 60px;
  background: url("../img/bg-5.svg") 0 0/370px 330px no-repeat, url("../img/bg-8.svg") 0 50%/235px 339px no-repeat, url("../img/bg-1.svg") 7% 93%/231px 268px no-repeat, url("../img/bg-1.svg") 100% 0/170px 197px no-repeat, url("../img/bg-6.svg") 100% 30%/258px 284px no-repeat, url("../img/bg-7.svg") 100% 100%/270px 387px no-repeat;
}

.service {
  margin-bottom: 100px;
}

.service__title {
  max-width: 536px;
}

.advice {
  margin-bottom: 100px;
}

.advice__title {
  max-width: 536px;
}

.advice__text span {
  display: block;
  margin: 0px 0px 2em 0px;
}

.method__title {
  max-width: 536px;
}

.video {
  max-width: 1340px;
  margin: 0px auto;
  background: url("../img/bg-video.svg") center no-repeat;
}

.video__container {
  margin-bottom: 100px;
}

.video__body {
  padding-bottom: 51%;
  position: relative;
  border-radius: 50px;
}

.consultation {
  background-color: #50603f;
  padding: 50px 0px 58px 0px;
}

.consultation__body {
  position: relative;
}

.slider-consultation__slide {
  text-align: center;
  width: 100%;
  cursor: pointer;
}

.slider-consultation__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-slider-consultation {
  text-align: center;
  color: #f8f6eb;
}

.item-slider-consultation_decor {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 286px;
          flex: 0 0 286px;
  padding: 0px 30px;
  position: relative;
  margin: 0px 30px 30px 0px;
}

.item-slider-consultation_decor::before,
.item-slider-consultation_decor::after {
  content: "";
  width: 2px;
  height: 120px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
  left: 0;
  background-color: #f8f6eb;
}

.item-slider-consultation_decor::after {
  right: 0;
  left: auto;
}

.item-slider-consultation__title {
  font-family: "AlegreyaSC";
  font-weight: 700;
  font-size: 32px;
  line-height: 125%;
  margin: 0px 0px 20px 0px;
}

.item-slider-consultation__time {
  font-weight: 500;
  font-size: 20px;
  margin: 0px 0px 25px 0px;
}

.item-slider-consultation__time._icon-clock::before {
  display: inline-block;
  margin: 0px 10px 0px 0px;
}

.item-slider-consultation__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-slider-consultation__cost {
  font-size: 35px;
}

.item-slider-consultation__cost_center {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.item-slider-consultation__cost span {
  margin: 10px 0px 0px 0px;
  display: block;
  font-size: 15px;
  text-transform: uppercase;
}

.item-slider-consultation__text {
  padding: 20px 34px;
  background: #f8f6eb;
  -webkit-box-shadow: 0px 4px 25px rgba(54, 65, 43, 0.51);
          box-shadow: 0px 4px 25px rgba(54, 65, 43, 0.51);
  max-width: 300px;
  font-size: 15px;
  line-height: 21px;
  color: #272727;
}

.item-slider-consultation__text p {
  margin: 0px 0px 15px 0px;
}

.item-slider-consultation__text p:last-child {
  margin: 0px 0px 0px 0px;
}

.item-slider-consultation__button {
  margin: 20px 0px 0px 0px;
  padding: 0px 34px;
}

.conrol-slider__dotts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0px 0px 0px;
}

.conrol-slider__dotts .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background-color: rgba(248, 246, 235, 0.6);
  cursor: pointer;
  margin: 0px 10px 0px 0px;
  position: relative;
}

.conrol-slider__dotts .swiper-pagination-bullet::before {
  content: "";
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: transparent;
  -webkit-transition: background 0.3s ease 0s;
  -o-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
}

.conrol-slider__dotts .swiper-pagination-bullet-active.swiper-pagination-bullet::before {
  background: #f8f6eb;
}

.conrol-slider__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
  height: 70px;
  background: #f8f6eb;
  position: absolute;
  z-index: 2;
  top: 50%;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
  cursor: pointer;
}

.conrol-slider__arrow_next {
  right: 0;
}

.conrol-slider__arrow_prev {
  left: 0;
}

.conrol-slider__arrow._icon-arrow-right::before,
.conrol-slider__arrow._icon-arrow-left::before {
  color: #50603f;
  font-size: 25px;
}

.conrol-slider__arrow.swiper-button-disabled {
  opacity: 0.4;
  cursor: auto;
}

.recording {
  padding: 100px 0px 60px 0px;
  background: url("../img/bg-1.svg") 5% 7%/230px 268px no-repeat, url("../img/bg-2.svg") 100% -20%/430px 400px no-repeat, url("../img/bg-9.svg") 0 100%/332px 323px no-repeat, url("../img/bg-7.svg") 100% 100%/278px 401px no-repeat;
}

.recording__body {
  max-width: 710px;
  margin: 0px auto;
}

.recording__text {
  font-size: 20px;
  line-height: 177%;
  text-align: center;
  color: rgba(39, 39, 39, 0.7);
  margin-bottom: 70px;
}

.form-recording {
  background-color: #f8f6eb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -18px;
}

.form-recording__line {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0px 18px;
  margin: 0px 0px 60px 0px;
  position: relative;
}

.form-recording__line_big {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.form-recording__line._icon-arrow-form input {
  cursor: pointer;
}

.form-recording__line._icon-arrow-form::before {
  position: absolute;
  font-size: 15px;
  right: 24px;
  top: 50%;
  color: #e8985d;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
}

.form-recording__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-recording__btn {
  padding: 0px 50px;
  height: 90px;
  font-weight: 500;
  font-size: 25px;
  margin: 0px 0px 20px 0px;
}

.reviews {
  background-color: #ddbc78;
  padding: 0px 0px 55px 0px;
  padding-top: 90px;
}

.reviews__body {
  position: relative;
}

.reviews__slider {
  cursor: pointer;
}

.slide-reviews__text {
  max-width: 1340px;
  margin: 0px auto;
  text-align: center;
  font-family: "AlegreyaSC";
  font-weight: bold;
  font-size: 32px;
  line-height: 120%;
  color: #f8f6eb;
}

.slide-reviews__text p {
  margin: 0px 0px 30px 0px;
}

.slide-reviews__text span {
  font-family: "Gotham";
  font-size: 25px;
  line-height: 120%;
}

.conrol-slider-reviews__dotts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0px 0px 0px;
}

.conrol-slider-reviews__dotts .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background-color: rgba(248, 246, 235, 0.6);
  cursor: pointer;
  margin: 0px 10px 0px 0px;
  position: relative;
}

.conrol-slider-reviews__dotts .swiper-pagination-bullet::before {
  content: "";
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: transparent;
  -webkit-transition: background 0.3s ease 0s;
  -o-transition: background 0.3s ease 0s;
  transition: background 0.3s ease 0s;
}

.conrol-slider-reviews__dotts .swiper-pagination-bullet-active.swiper-pagination-bullet::before {
  background: #f8f6eb;
}

.conrol-slider-reviews__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
  height: 70px;
  background: #f8f6eb;
  position: absolute;
  z-index: 2;
  top: 50%;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
  cursor: pointer;
}

.conrol-slider-reviews__arrow_next {
  right: 0;
}

.conrol-slider-reviews__arrow_prev {
  left: 0;
}

.conrol-slider-reviews__arrow._icon-arrow-right::before,
.conrol-slider-reviews__arrow._icon-arrow-left::before {
  color: #50603f;
  font-size: 25px;
}

.conrol-slider-reviews__arrow.swiper-button-disabled {
  opacity: 0.4;
  cursor: auto;
}

@media (min-width: 991.98px) {
  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .menu__link:hover::before {
    left: 0;
    width: 100%;
  }

  .social__item._icon-instagram:hover::before,
  .social__item._icon-telegram:hover::before,
  .social__item._icon-viber:hover::before {
    color: #272727;
  }

  .menu-footer__link:hover::before {
    left: 0;
    width: 100%;
  }

  .home__link:hover {
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
  }
}

@media (min-width: 992px) {
  .btn:hover {
    border: 2px solid rgba(164, 89, 60, 0.61);
  }

  .select__option:hover {
    background-color: #ebeae6;
  }

  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (max-width: 1570px) {
  .skills {
    background: url("../img/bg-5.svg") 0 0/185px 165px no-repeat, url("../img/bg-8.svg") 0 50%/200px 169px no-repeat, url("../img/bg-1.svg") 7% 93%/115px 134px no-repeat, url("../img/bg-1.svg") 100% 0/85px 98px no-repeat, url("../img/bg-6.svg") 100% 30%/129px 142px no-repeat, url("../img/bg-7.svg") 100% 100%/135px 193px no-repeat;
  }
}

@media (max-width: 1568px) {
  .header__logo {
    margin: 0px 20px 0px 0px;
  }
}

@media (max-width: 1500px) {
  .home {
    background: url("../img/bg-1.svg") 1.5% 11%/153px 179px no-repeat, url("../img/bg-2.svg") 100% 0%/286px 266px no-repeat, url("../img/bg-3.svg") 0 100%/336px 384px no-repeat, url("../img/bg-4.svg") 100% 80%/220px 207px no-repeat;
  }

  .home__body {
    padding: 0px 30px 200px 30px;
  }

  .recording {
    background: url("../img/bg-1.svg") 5% 7%/115px 134px no-repeat, url("../img/bg-2.svg") 100% 0%/215px 200px no-repeat, url("../img/bg-9.svg") 0 100%/166px 162.5px no-repeat, url("../img/bg-7.svg") 100% 100%/139px 200px no-repeat;
  }
}

@media (max-width: 1450px) {
  .menu__list li {
    margin: 0px 30px 0px 0px;
  }
}

@media (max-width: 1400px) {
  .menu-footer__list li {
    margin: 0px 35px 0px 0px;
  }

  .menu-footer__logo {
    margin: 0px 35px;
  }
}

@media (max-width: 1250px) {
  .social__item {
    margin: 0px 15px 0px 0px;
  }

  .social__item::after {
    content: "";
    right: -7.5px;
  }

  .top-footer__social .social__item {
    margin: 0px 15px;
  }

  .top-footer__social .social__item::after {
    right: -14.5px;
  }
}

@media (max-width: 1200px) {
  .home {
    background: url("../img/bg-1.svg") 1.5% 11%/115px 134px no-repeat, url("../img/bg-2.svg") 100% 0%/215px 200px no-repeat, url("../img/bg-3.svg") 0 100%/227.5px 288px no-repeat, url("../img/bg-4.svg") 100% 80%/165px 155px no-repeat;
  }
}

@media (max-width: 1180px) {
  .header__logo {
    font-size: 25px;
  }

  .header__button {
    padding: 0px 20px;
  }

  .menu__link {
    font-size: 18px;
  }
}

@media (max-width: 1140px) {
  .menu-footer__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .menu-footer__list {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .menu-footer__list_order {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin: 0px 0px 0px 35px;
  }

  .menu-footer__logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin: 0px 0px 20px 0px;
  }
}

@media (max-width: 1100px) {
  .header__logo {
    margin-right: 10px;
  }

  .menu__list li {
    margin: 0px 15px 0px 0px;
  }
}

@media (max-width: 1090px) {
  .title {
    font-size: calc(28px + 26 * ((100vw - 320px) / 770));
  }

  .text {
    font-size: calc(13px + 7 * ((100vw - 320px) / 770));
  }

  .footer__copy {
    font-size: calc(13px + 7 * ((100vw - 320px) / 770));
  }

  .menu-footer__logo {
    font-size: calc(40px + 10 * ((100vw - 320px) / 770));
  }

  .home__title {
    font-size: calc(26px + 94 * ((100vw - 320px) / 770));
  }

  .home__title {
    padding-top: calc(32px + 78 * ((100vw - 320px) / 770));
  }

  .home__title {
    padding-bottom: calc(25px + 28 * ((100vw - 320px) / 770));
  }

  .home__title {
    padding-left: calc(10px + 50 * ((100vw - 320px) / 770));
  }

  .home__title {
    padding-right: calc(10px + 50 * ((100vw - 320px) / 770));
  }

  .home__title {
    margin-top: calc(170px + 100 * ((100vw - 320px) / 770));
  }

  .home__title {
    margin-bottom: calc(27px + 9 * ((100vw - 320px) / 770));
  }

  .home__title span {
    font-size: calc(15px + 35 * ((100vw - 320px) / 770));
  }

  .about {
    margin-bottom: calc(40px + 20 * ((100vw - 320px) / 770));
  }

  .about__body {
    padding-bottom: calc(40px + 20 * ((100vw - 320px) / 770));
  }

  .about__text {
    font-size: calc(13px + 7 * ((100vw - 320px) / 770));
  }

  .skills {
    margin-bottom: calc(40px + 20 * ((100vw - 320px) / 770));
  }

  .service {
    margin-bottom: calc(30px + 70 * ((100vw - 320px) / 770));
  }

  .advice {
    margin-bottom: calc(30px + 70 * ((100vw - 320px) / 770));
  }

  .video__container {
    margin-bottom: calc(30px + 70 * ((100vw - 320px) / 770));
  }

  .recording__text {
    font-size: calc(15px + 5 * ((100vw - 320px) / 770));
  }

  .recording__text {
    margin-bottom: calc(26px + 44 * ((100vw - 320px) / 770));
  }

  .reviews {
    padding-top: calc(35px + 55 * ((100vw - 320px) / 770));
  }

  .slide-reviews__text {
    font-size: calc(15px + 17 * ((100vw - 320px) / 770));
  }

  .slide-reviews__text span {
    font-size: calc(18px + 7 * ((100vw - 320px) / 770));
  }
}

@media (max-width: 991.98px) {
  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }

  .decor::before {
    width: 80px;
    height: 115px;
    top: -115px;
  }

  .decor::after {
    width: 166px;
    height: 115px;
    right: -166px;
  }

  .header__logo {
    font-size: 20px;
    position: absolute;
    left: 20px;
    top: 50%;
    -webkit-transform: translate(0px, -50%);
        -ms-transform: translate(0px, -50%);
            transform: translate(0px, -50%);
  }

  .header__logo span {
    display: none;
  }

  .header__column {
    display: block;
  }

  .header__button {
    padding: 0px 40px;
    margin: 0px 0px 20px 0px;
  }

  .menu__body {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 150px 0px 0px 0px;
    background-color: #e5e5e5;
    text-align: center;
    -webkit-transition: -webkit-transform 0.35s ease 0s;
    transition: -webkit-transform 0.35s ease 0s;
    -o-transition: transform 0.35s ease 0s;
    transition: transform 0.35s ease 0s;
    transition: transform 0.35s ease 0s, -webkit-transform 0.35s ease 0s;
    -webkit-transform: translate(0px, -100%);
        -ms-transform: translate(0px, -100%);
            transform: translate(0px, -100%);
  }

  .menu__body._active {
    -webkit-transform: translate(0px, 0%);
        -ms-transform: translate(0px, 0%);
            transform: translate(0px, 0%);
  }

  .menu__list {
    display: block;
    margin: 0px 0px 75px 0px;
  }

  .menu__list li:last-child {
    margin: 0px 0px 10px 0px;
  }

  .menu__list li {
    padding: 10px 10px;
    margin: 0px 0px 10px 0px;
  }

  .menu__link {
    font-size: 20px;
    -webkit-columns: #272727;
       -moz-columns: #272727;
            columns: #272727;
  }

  .icon-menu {
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0px, -50%);
        -ms-transform: translate(0px, -50%);
            transform: translate(0px, -50%);
    right: 20px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #272727;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0px 0px 25px 0px;
  }

  .social__item {
    margin: 0px 30px 0px 0px;
  }

  .social__item:last-child {
    margin: 0px 0px 0px 0px;
  }

  .social__item::after {
    content: "";
    right: -14.5px;
  }

  .top-footer__social .social__item {
    margin: 30px 15px 0px 15px;
  }

  .top-footer__social .social__item:last-child {
    margin: 30px 15px 0px 15px;
  }

  .top-footer__social {
    margin: 0px 0px 0px 0px;
  }

  .home__body {
    padding: 0px 10px 130px 10px;
  }

  .home__title {
    border: 10px solid #677a61;
  }

  .home__title::before {
    border-top: 15px solid #677a61;
    border-left: 15px solid #677a61;
    left: -22px;
    top: -26px;
    height: 22%;
  }

  .home__title::after {
    border-right: 15px solid #f8f6eb;
    border-bottom: 15px solid #f8f6eb;
    left: -10px;
    top: -11px;
    height: 22%;
  }

  .about__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .about__images {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin: 0px 0px 30px 0px;
    padding: 0px 0px 80% 0px;
  }

  .about__img {
    margin: 0px 0px 0px 0px;
  }

  .about__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding: 0;
    text-align: left;
  }

  .skills {
    background: none;
    background: url("../img/bg-8.svg") 0 42%/100px 85px no-repeat;
  }

  .conrol-slider__arrow {
    top: auto;
    -webkit-transform: translate(0px, 50%);
        -ms-transform: translate(0px, 50%);
            transform: translate(0px, 50%);
    bottom: 0;
  }

  .recording {
    background: url("../img/bg-1.svg") 5% 1%/115px 134px no-repeat, url("../img/bg-2.svg") 100% 0%/143px 133px no-repeat;
  }

  .conrol-slider-reviews__arrow {
    top: auto;
    -webkit-transform: translate(0px, 50%);
        -ms-transform: translate(0px, 50%);
            transform: translate(0px, 50%);
    bottom: 0;
  }
}

@media (max-width: 850px) {
  .menu-footer__list {
    display: block;
    width: 100%;
    text-align: center;
  }

  .menu-footer__list li {
    margin: 0px 0px 20px 0px;
  }

  .menu-footer__list_order {
    margin: 20px 0px 30px 0px;
  }

  .menu-footer__link {
    padding: 10px 0px;
  }

  .home {
    background: url("../img/bg-1.svg") 1.5% 11%/93px 108px no-repeat, url("../img/bg-2.svg") 100% 0%/172px 160px no-repeat, url("../img/bg-3.svg") 0 100%/202px 230px no-repeat, url("../img/bg-4.svg") 100% 80%/132px 124px no-repeat;
  }
}

@media (max-width: 767.98px) {
  .btn_big {
    height: 63px;
    padding: 0px 40px;
    font-size: 15px;
  }

  .decor::before {
    width: 45px;
    height: 64px;
    top: -64px;
  }

  .decor::after {
    display: none;
  }

  .home__title {
    border: 5px solid #677a61;
  }

  .home__title::before {
    border-top: 7px solid #677a61;
    border-left: 7px solid #677a61;
    width: 74px;
    height: 36px;
    left: -10px;
    top: -11px;
  }

  .home__title::after {
    border-right: 7px solid #f8f6eb;
    border-bottom: 7px solid #f8f6eb;
    width: 74px;
    height: 36px;
    left: -10px;
    top: -11px;
  }

  .skills {
    background: none;
  }

  .video__body {
    border-radius: 0px;
  }

  .recording {
    padding: 150px 0px 60px 0px;
  }
}

@media (max-width: 700px) {
  .form-recording__line {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin: 0px 0px 30px 0px;
  }
}

@media (max-width: 650px) {
  .slider-consultation__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .item-slider-consultation_decor {
    left: 15px;
  }
}

@media (max-width: 570px) {
  .home {
    background: url("../img/bg-1.svg") 1.5% 17%/93px 108px no-repeat, url("../img/bg-2.svg") 100% 0%/140px 120px no-repeat, url("../img/bg-3.svg") 0 100%/146px 171px no-repeat, url("../img/bg-4.svg") 100% 89%/132px 124px no-repeat;
  }
}

@media (max-width: 550px) {
  .video__body {
    padding-bottom: 61%;
  }
}